<ion-row>
  <ion-col clickable (click)="iglesia()">
    <ion-img src="../../assets/imgs/recursos/iconoiasd.svg"></ion-img>
  </ion-col>
  <ion-col  clickable (click)="uab()" >
    <ion-img src="../../assets/imgs/recursos/iconouab.svg"></ion-img>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col  clickable (click)="carreras()">
    <ion-img src="../../assets/imgs/recursos/iconocarreras.svg"></ion-img>
  </ion-col>
  <ion-col  clickable (click)="colegio()">
    <ion-img src="../../assets/imgs/recursos/iconouab.svg"></ion-img>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col clickable (click)="encuestas()" >
    <ion-img src="../../assets/imgs/recursos/iconotest.svg"></ion-img>
  </ion-col>
  <ion-col clickable (click)="clickSociales()">
    <ion-img src="../../assets/imgs/recursos/iconocontactos.svg"></ion-img>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col clickable (click)="noticias()" >
    <ion-img src="../../assets/imgs/recursos/icononoticias.svg"></ion-img>
  </ion-col>
  <ion-col clickable (click)="iasd()" >
    <ion-img src="../../assets/imgs/recursos/iconofe.svg"></ion-img>
  </ion-col>
</ion-row>
