ion-content{

  --background: #003264 no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contendido{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: none;
  border: none;
  box-shadow: none;
  flex-direction: column;
}
.card-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  height: 100%;
  width: 100%;
}
.image-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/imgs/recursos/soyuab.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;


}
.loader {

  position: absolute;

  bottom: 0;
  left: 0;
  width: 0%;
  height: 10px;

  // backgroud-color: #488df4;
  background-color: #ffffff;
  animation: load 1.5s forwards;
  transition: opacity 0.5s ease-in-out;
}

@keyframes load {
  0% {
    width: 0%;
    opacity: 0.5;
  }
  50% {
    width: 50%;
    opacity: 0.7;
  }
  100% {
    width: 100%;
    opacity: 0.5;
  }
}

.loader:hover {
  opacity: 0.9;
}

.loader.final {
  opacity: 0.5;
}

.loader.final:hover {
  opacity: 0.5;
}
