



<ion-content *ngIf="isLoading; else contentLoaded">


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="center-content" >
          <ion-card-content  >
            <ion-spinner></ion-spinner>
            <p>Cargado Colegios...</p>
          </ion-card-content>
        </ion-card>


      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template #contentLoaded>
<ion-content>


  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-card>

          <ion-card-content>
            <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="search()" placeholder="Buscar">
            </ion-searchbar>
            <div class="table-container">
              <table>
                <thead>
                  <tr>
                    <th>Colegio</th>
                    <th>Estudiantes</th>
                    <th>Puntaje</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let colegio of filteredLista1; let i = index" (click)="showColegio(colegio)">
                    <td>{{ colegio.name }}</td>
                    <td>{{ colegio.total_students }}</td>
                    <td>{{ colegio.score }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ion-card-content>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
</ng-template>
